.techStack-container {
    position: relative;
    margin-top: 4vh;
    width: 300px;
    height: 300px;
    /* Added border-radius and overflow for a cleaner look */
    border-radius: 20px;
    overflow: hidden;
    /* Dark base color */
}


/* .techStack-track style block removed */

.techStack-icons {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.techStack-icons i {
    position: absolute;
    pointer-events: auto;


    color: var(--color-Pine); /* White icons */
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid rgba(255, 255, 255, 0.8); /* Subtle border */
    border-radius: 50%;


    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 56px;
    font-size: 2rem;

    /*Dont ask it works*/
    margin-left: -150px;

    offset-path: path("M 150,35 L 250,93 L 250,208 L 150,265 L 50,208 L 50,93 Z");

    offset-rotate: 0deg;
    offset-anchor: 50% 50%;

    /* Increased duration for a smoother, slower rotation */
    animation: move-rectangle 18s infinite linear;
}

.techStack-container:hover .techStack-icons i {
    animation-play-state: paused;
    cursor: pointer;
}

.techStack-icons i {
    animation-delay: calc(var(--i) * -3s);
}

.techStack-icons i:hover{
    color: var(--color-sage);
    border-color: rgba(255, 255, 255, 1);
}

@keyframes move-rectangle {
    0% {
        offset-distance: 0;
    }
    100% {
        offset-distance: 100%;
    }
}