/* Ty to this guy for the perfect background animation.
 * Twitter: @kootoopas
 */


@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,300..900&display=swap');



:root {
    /* This ensures everything is over the vinagrete for those wondering*/
    position: relative;

    z-index: 1;

    --font-main: 'Fraunces', serif;
    --color-bg: #F4F4F4; /* Soft gray/white */

    --color-text: #1a1a1a;
    --color-text-muted: #666666;


    --color-gold: #C5A572;
    --color-gold-dark: #8c734b;

    /* Grid Lines Color (Light Gray) */
    --grid-color: #e5e5e5;

    /* Background data (Original source: https://subtlepatterns.com/grid-me/) */
    --bg-width: 50px;
    --bg-height: 50px;
    --background-position: var(--bg-width) var(--bg-height);
}

/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
    100% { background-position: var(--background-position); }
}
@-moz-keyframes    bg-scrolling-reverse {
    100% { background-position: var(--background-position); }
}
@-o-keyframes      bg-scrolling-reverse {
    100% { background-position: var(--background-position); }
}
@keyframes         bg-scrolling-reverse {
    100% { background-position: var(--background-position); }
}

@-webkit-keyframes bg-scrolling {
    0% { background-position: var(--background-position); }
}
@-moz-keyframes    bg-scrolling {
    0% { background-position: var(--background-position); }
}
@-o-keyframes      bg-scrolling {
    0% { background-position: var(--background-position); }
}
@keyframes         bg-scrolling {
    0% { background-position: var(--background-position); }
}

body {
    margin-top: 13.5rem;
    color: var(--color-text);
    text-align: center;

    font-family: var(--font-main), serif;
    
    background-color: var(--color-bg);

    /* Create the Grid using Linear Gradients */
    background-image:
            linear-gradient(var(--grid-color) 1px, transparent 1px),
            linear-gradient(90deg, var(--grid-color) 1px, transparent 1px);

    background-size: var(--bg-width) var(--bg-height);

    -webkit-animation: bg-scrolling-reverse 1.92s infinite linear;
    animation: bg-scrolling-reverse 1.92s infinite linear;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* Fades from Transparent Center -> Solid White Edges */
    background: radial-gradient(circle at center, transparent 30%, var(--color-bg) 80%);

    z-index: -1; /* Keeps it behind */
    pointer-events: none;
}
